.sidebar
  .side_header
    .header__username
      = current_user.name
    .side-header_box_menu
      .side-header_box_menu__side-header_box_menu__new
        = link_to "groups/new" do
          %i.fa.fa-edit
      .side-header_box_menu__side-header_box_menu__edit
        = link_to "users/edit" do
          %i.fa.fa-cog
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__text
            メッセージはまだありません。